mixin actionForm(id, name, title, subtitle)
    form(class = [ name, "form-action" ] id=id)
        .form-header.color-white.bold.text-uppercase.text-center
            span
                | #{title}
        .form-body
            p.form-subheader.text-center
                | #{subtitle}
            input(type="hidden", value="Форма заголовка")
            .input-group
                input(type="text", placeholder="Ваше имя", name="name").form-control
            .input-group
                input(type="email", placeholder="E-mail", name="email").form-control
            .input-group
                input(type="tel", placeholder="Ваш телефон", name="phone").form-control
            button.send-form.btn.btn-info.width__100.form-control.text-uppercase.submit-btn
                span.fa.fa-icon.fa-check-circle-o
                | заказать
            p.text-muted.text-center
                small
                    | Твои персональные данные не будут опубликованы или переданы третьим лицам
