div#callbackModal.modal.fade.callback-modal(role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-body.text-center
                h2
                    | Спасибо за обращение!
                    br
                    |  Сейчас Вам перезвонит мастер
                button.btn.btn-lg.btn-info(data-dismiss='modal', aria-label='Close') Закрыть окно

div#feedbackModal.modal.fade.feedback-modal(role='dialog', aria-hidden='true')
    .modal-dialog.modal-md
        .modal-content
            .modal-body
                h2.modal-header
                    | перезвоним за
                    br
                    |  две минуты
                p.text-center Заполните форму и мы свяжемся с вами
                +actionForm('requestForm', 'form-modal')
