.container
    .row
        .col-sm-4.col-lg-3
            aside#aside.aside
                .aside-block
                    ul.aside-menu.list-unstyled
                        li
                            a.aside-menu-link
                                | Nav menu 1
                        li
                            a.aside-menu-link
                                | Nav menu 1
                        li
                            a.aside-menu-link
                                | Nav menu 1
                        li
                            a.aside-menu-link
                                | Nav menu 1
                        li
                            a.aside-menu-link
                                | Nav menu 1
                .aside-block
                    img(src="img/aside-dummy.jpg" alt="img").img-responsive.block-centered

        .col-sm-8.col-lg-9
            article.article
                h1.article-title
                    |Article title
                .article-content
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend volutpat finibus. Morbi at dictum risus. Praesent pretium nunc justo, et dapibus urna aliquam sed. Cras convallis, nisl vulputate mattis placerat, nibh lectus pharetra velit, tempor pellentesque urna orci vitae lorem. Donec interdum vulputate ipsum nec pellentesque. In et leo efficitur, dignissim mauris dapibus, dictum enim. Etiam tortor sem, efficitur quis dignissim et, maximus ut velit. Nam aliquam molestie accumsan. Vivamus egestas vulputate augue ut sagittis.
                    p.
                        Nulla porttitor ante ac rutrum porttitor. Cras mattis nibh id sodales fringilla. Donec eget gravida sem. Duis congue nunc a arcu faucibus aliquam. Nam cursus quam mauris, id feugiat mauris tempor quis. Nam finibus, ligula quis tincidunt volutpat, sem ante dapibus ante, eu aliquet diam tortor id mi. Fusce pellentesque nec sapien interdum feugiat. Vivamus vitae arcu id sapien viverra commodo non id massa. Phasellus aliquet tellus eu arcu venenatis rutrum. Vivamus venenatis erat quis ante congue, vel ultrices magna congue.
                    p.
                        Ut semper, velit ut molestie ullamcorper, enim sapien consectetur mauris, ut laoreet odio libero at risus. Sed pellentesque arcu sit amet consequat efficitur. Vestibulum eu molestie diam. Aenean consectetur et nunc quis maximus. Ut quis diam a nibh sagittis pulvinar. Curabitur non est finibus, porttitor sapien at, feugiat eros. Donec sit amet auctor diam. Fusce consequat dui quis luctus pulvinar. Proin a tellus arcu. Fusce id lectus volutpat, euismod libero eget, sodales magna. Phasellus dapibus lorem tellus, consectetur tempor diam lobortis eget. Phasellus malesuada ullamcorper lacus, sit amet dapibus quam ornare vitae. Cras suscipit lorem vitae nisl porta, quis pretium odio molestie. Pellentesque dictum justo vel feugiat tincidunt.
                    p.
                        Nulla viverra quam quis eros consequat, nec tristique purus molestie. Donec ac iaculis massa. Sed tempus pulvinar facilisis. Cras eget pellentesque massa, eget posuere nunc. Vivamus sit amet hendrerit ipsum. Nam vitae tellus consequat, rutrum orci quis, gravida mauris. Suspendisse tortor tellus, bibendum non neque elementum, aliquam porttitor mauris. Etiam a nunc sed mauris aliquam varius. Mauris sit amet leo elit. Integer nec elit lobortis, sodales augue et, hendrerit metus. Phasellus volutpat consequat mattis. Vestibulum eu nisl risus. Donec ut egestas tortor.
                    p.
                        Praesent hendrerit felis sed euismod facilisis. Sed cursus mi purus, in facilisis turpis lacinia vitae. Sed vehicula diam id eros placerat, vel condimentum est maximus. Phasellus eget tempor nulla. Maecenas augue mauris, tempus tempus blandit et, fringilla a nisl. Proin quam tortor, cursus et sem nec, lacinia convallis quam. Quisque ac leo porta, viverra ante vel, dictum lectus. Etiam pellentesque porttitor ante, nec pharetra mi mattis id. Proin convallis aliquam est ut sollicitudin. Praesent non egestas neque. Vestibulum sit amet mattis urna. Vestibulum quis turpis nibh. Vivamus nisi leo, molestie in sagittis in, vulputate nec arcu.
                    p.
                        Donec at tortor sit amet velit dignissim porta. Aliquam rutrum ullamcorper aliquam. Proin eu erat posuere felis dictum tincidunt. Curabitur auctor libero erat, molestie gravida augue condimentum quis. Nunc in ultricies neque, feugiat tempus mi. Ut lobortis, nunc quis porttitor rhoncus, neque nisl ultrices sapien, nec porttitor libero nibh a arcu. Donec rutrum maximus mauris. Aliquam nibh nibh, mattis sit amet libero non, suscipit tincidunt mauris. Etiam eget lectus vel lacus volutpat blandit sit amet eget neque. Nulla facilisi. In quis diam non purus laoreet dictum. Praesent dapibus nulla at sem condimentum, sit amet elementum magna blandit. Sed sit amet tincidunt nisi.
                    p.
                        Cras nec nisi sapien. Mauris non est leo. Nulla pretium imperdiet elit sit amet pulvinar. Quisque dapibus enim leo, non auctor erat tincidunt nec. Praesent et felis et velit condimentum viverra. Proin ac dui ac risus venenatis porta. Nunc eget mauris ac risus tristique pretium. Sed tellus libero, scelerisque eu placerat nec, scelerisque luctus urna.
