.container
    .h1.text-center.text-uppercase.page-title
        | Наши контакты
    .contact-sub-title
        .row
            .col-md-3.col-xs-6
                .contact-sub-title-block
                    span
                        .fa.fa-icon.fa-map-marker
                    span
                        | г. Киев, ул. Полевая 34
            .col-md-3.col-xs-6
                .contact-sub-title-block
                    span
                        .fa.fa-icon.fa-clock-o
                    span
                        | Пн-Пт с 9.00 до 20.00
            .col-md-3.col-xs-6
                .contact-sub-title-block
                    span
                        .fa.fa-icon.fa-envelope-o
                    span
                        | info@gmail.com
            .col-md-3.col-xs-6
                .contact-sub-title-block
                    span
                        .fa.fa-icon.fa-phone
                    span
                        | 096-223-98-96
    .section-body
        .row
            .col-sm-7.col-lg-8
                .map-wrapper.embed-responsive.embed-responsive-16by9#overlay
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.8214378042503!2d30.449368542983727!3d50.44442657463228!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc20a2ea4e19%3A0x529634b56b20232e!2z0LLRg9C70LjRhtGPINCf0L7Qu9GM0L7QstCwLCAyNCwg0JrQuNGX0LI!5e0!3m2!1suk!2sua!4v1469449063748" allowfullscreen).embed-responsive-item#map
            .col-sm-5.col-lg-4
                form(class = ["contact-form", "form-action"] id="contactForm")
                    .form-header.color-white.text-center
                    .form-body
                        input(type="hidden", value="Форма заголовка")
                        .input-wrapper
                            label(for="contactInputName")
                                | Ваше имя
                            input(type="text", placeholder="Ваше имя", name="name", id ="contactInputName").form-control
                        .input-wrapper
                            label(for="contactInputPhone")
                                | Почта или телефон
                            input(type="text", placeholder="Почта или телефон", name="email" id ="contactInputPhone").form-control
                        .input-wrapper
                            label(for="contactText")
                                | Сообщение
                            textarea(placeholder="Сообщение", name="phone" id ="contactText" rows="5").form-control
                        .input-wrapper
                            button.btn.btn-info.text-uppercase.submit-btn.btn-danger
                                | отправить сообщение
                        p.text-muted.text-center
                            small
                                | Твои персональные данные не будут опубликованы или переданы третьим лицам

