header.header#home
    .header-bg
    .header-container
        .header-container-top
            .container
                .row
                    .col-md-4.col-lg-3.text-center
                        a(href='#home').header-logo
                            img(src="img/logo-header.png", alt="logo").img-responsive
                    .col-md-4.col-lg-3.text-center
                        ul.list-inline.header-social
                            li
                                a(href='#').header-social-link#viber
                                    script.
                                        var buttonID = "viber";
                                        var text = "Привет, меня интересует чистка, свяжитесь со мной";
                                        document.getElementById(buttonID).setAttribute('href', "viber://forward?text=" + encodeURIComponent(text + " " + window.location.href));
                                    img(src="img/icons/viber.png" alt="Viber" title="Viber").img-responsive
                            li
                                a(href='https://instagram.com' target="_blank").header-social-link
                                    img(src="img/icons/in.png" alt="Instagram" title="Instagram").img-responsive
                            li
                                a(href='https://facebook.com' target="_blank").header-social-link
                                    img(src="img/icons/fb.png" alt="Facebook" title="Facebook").img-responsive
                            li
                                a(href='#').header-social-link#whatsapp
                                    script.
                                        var buttonID = "whatsapp";
                                        var text = "Привет, меня интересует чистка, свяжитесь со мной";
                                        document.getElementById(buttonID).setAttribute('href', "whatsapp://send?text=" + encodeURIComponent(text + " " + window.location.href));
                                    img(src="img/icons/wh.png" alt="Whatsapp" title="Watsapp").img-responsive
                    .col-md-4.col-lg-3.text-center
                        ul.list-unstyled.header-contacts
                            li
                                a(href="tel:0995656969").link-text.color-white
                                    span.fa.fa-icon.fa-phone
                                    | (099) 565 69 69
                            li
                                a(href="tel:0995656969").link-text.color-white
                                    span.fa.fa-icon.fa-phone
                                    | (099) 565 69 69
                    .col-lg-3.text-center
                        button(data-toggle="modal" data-target="#feedbackModal").btn.btn-danger.color-white.header-btn
                            span.fa-icon.fa.fa-phone
                            |ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
        nav.navbar.navbar-default
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                #navbar.navbar-collapse.collapse.masthead
                    ul.nav.nav-justified
                        li.active
                            a(href='#') О компании
                        li
                            a(href='#') Сертификаты
                        li
                            a(href='#') Полный прайс
                        li
                            a(href='#') Партнеры
                        li
                            a(href='#') Фото работ
                        li
                            a(href='#') Отзывы
                        li
                            a(href='#') Контакты

