head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title
        | Perfect Clean
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    // {{CUT-START}}
    link(rel='stylesheet', href='css/styles.css')
    link(rel='stylesheet', href='css/ihover.css')
    // {{CUT-END}}
    link(rel='stylesheet', href='css/{{MAIN_CSS_FILE}}')
    script(src='js/vendor/modernizr-2.8.3.min.js')
    //{{CUT-START}}
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')
    // {{CUT-END}}
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/{{JQUERY_VERSION}}/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')
    style(scoped).
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: #fff url('img/clock-loading.gif') 50% 50% no-repeat;
        }
