section.section-services#services
    .container
        h2.section-header.
            Наши услуги
        .section-body
            .row
                .col-md-4.col-sm-6
                    .ih-item.square.colored.effect6.bottom_to_top.ih-service
                        a(href='#')
                            .img
                                img(src='img/services/service1.jpg', alt='img')
                            h4.ih-item-title Heading here
                            .info
                                p.in-item-fa
                                    span.fa.fa-icon.fa-search-plus
                .col-md-4.col-sm-6
                    .ih-item.square.colored.effect6.bottom_to_top.ih-service
                        a(href='#')
                            .img
                                img(src='img/services/service1.jpg', alt='img')
                            h4.ih-item-title Heading here
                            .info
                                p.in-item-fa
                                    span.fa.fa-icon.fa-search-plus
                .col-md-4.col-sm-6
                    .ih-item.square.colored.effect6.bottom_to_top.ih-service
                        a(href='#')
                            .img
                                img(src='img/services/service1.jpg', alt='img')
                            h4.ih-item-title Heading here
                            .info
                                p.in-item-fa
                                    span.fa.fa-icon.fa-search-plus
                .col-md-4.col-sm-6
                    .ih-item.square.colored.effect6.bottom_to_top.ih-service
                        a(href='#')
                            .img
                                img(src='img/services/service1.jpg', alt='img')
                            h4.ih-item-title Heading here
                            .info
                                p.in-item-fa
                                    span.fa.fa-icon.fa-search-plus
                .col-md-4.col-sm-6
                    .ih-item.square.colored.effect6.bottom_to_top.ih-service
                        a(href='#')
                            .img
                                img(src='img/services/service1.jpg', alt='img')
                            h4.ih-item-title Heading here
                            .info
                                p.in-item-fa
                                    span.fa.fa-icon.fa-search-plus
                .col-md-4.col-sm-6
                    .ih-item.square.colored.effect6.bottom_to_top.ih-service
                        a(href='#')
                            .img
                                img(src='img/services/service1.jpg', alt='img')
                            h4.ih-item-title Heading here
                            .info
                                p.in-item-fa
                                    span.fa.fa-icon.fa-search-plus

        .section-body
            h2.section-subheader.text-center.
                почему 9 из 10 клиентов выбирают нас
            .line-space.visible-lg
            .row
                .col-lg-4
                    .row
                        .col-xs-2.col-sm-2.col-md-1.col-lg-3
                            img(src="img/icons/wash-green.png" alt="icon").img-responsive
                        .col-xs-10.col-sm-10.col-md-11.col-lg-9
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    br
                .col-lg-4
                    .row
                        .col-xs-2.col-sm-2.col-md-1.col-lg-3
                            img(src="img/icons/building-yellow.png" alt="icon").img-responsive
                        .col-xs-10.col-sm-10.col-md-11.col-lg-9
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    br
                .col-lg-4
                    .row
                        .col-xs-2.col-sm-2.col-md-1.col-lg-3
                            img(src="img/icons/wash-yellow.png" alt="icon").img-responsive
                        .col-xs-10.col-sm-10.col-md-11.col-lg-9
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    br
            .line-space.visible-lg
            .row
                .col-lg-4
                    .row
                        .col-xs-2.col-sm-2.col-md-1.col-lg-3
                            img(src="img/icons/wash-green.png" alt="icon").img-responsive
                        .col-xs-10.col-sm-10.col-md-11.col-lg-9
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    br
                .col-lg-4
                    .row
                        .col-xs-2.col-sm-2.col-md-1.col-lg-3
                            img(src="img/icons/building-yellow.png" alt="icon").img-responsive
                        .col-xs-10.col-sm-10.col-md-11.col-lg-9
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    br
                .col-lg-4
                    .row
                        .col-xs-2.col-sm-2.col-md-1.col-lg-3
                            img(src="img/icons/wash-yellow.png" alt="icon").img-responsive
                        .col-xs-10.col-sm-10.col-md-11.col-lg-9
                            span.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                    br
    .section-body.seo-text.color-white
        .container
            h2.section-subheader.text-center.color-white.
                Текст сео
            .section-body
                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

                p.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
section.section-form
    .section-form-bg.left
    .section-form-bg.right
    .container
        .section-form-wrapper
            .section-form-action
                h2.section-form-title.text-center.
                    закажите выездную химчистку сейчас
                .row
                    form#sectionActionForm.section-form-body
                        .col-sm-4.col-md-5
                            input(type="text" name="name" placeholder="Имя").form-control
                        .col-sm-4.col-md-5
                            input(type="tel" name="phone" placeholder="Телефон").form-control
                        .col-sm-4.col-md-2
                            button(type="submit").btn.btn-success.width__100.submit-btn.
                                Заказать
section.section-gallery#gallery
    .container
        h2.section-header.
            ФОТОГАЛЕРЕЯ НАШИХ РАБОТ
        .section-body
            .row
                .col-md-3.col-sm-6
                    .gallery-unit.color-white
                        img(src="img/gallery/gallery1.jpg" alt="img").gallery-img
                        a(href="#").gallery-link.color-white
                            ul.list-unstyled.text-center
                                li.fa.fa-icon.fa-search-plus
                                li
                                    h4.text-uppercase
                                        |Виды работ
                        .spacer.quad
                .col-md-3.col-sm-6
                    .gallery-unit.color-white
                        img(src="img/gallery/gallery1.jpg" alt="img").gallery-img
                        a(href="#").gallery-link.color-white
                            ul.list-unstyled.text-center
                                li.fa.fa-icon.fa-search-plus
                                li
                                    h4.text-uppercase
                                        |Виды работ
                        .spacer.quad
                .col-md-3.col-sm-6
                    .gallery-unit.color-white
                        img(src="img/gallery/gallery1.jpg" alt="img").gallery-img
                        a(href="#").gallery-link.color-white
                            ul.list-unstyled.text-center
                                li.fa.fa-icon.fa-search-plus
                                li
                                    h4.text-uppercase
                                        |Виды работ
                        .spacer.quad
                .col-md-3.col-sm-6
                    .gallery-unit.color-white
                        img(src="img/gallery/gallery1.jpg" alt="img").gallery-img
                        a(href="#").gallery-link.color-white
                            ul.list-unstyled.text-center
                                li.fa.fa-icon.fa-search-plus
                                li
                                    h4.text-uppercase
                                        |Виды работ
                        .spacer.quad
section.section-certificates
    .container
        h2.section-header.
            СЕРТИФИКАТЫ
        h5.text-center.
            Все наши средства сертифицированы и отвечают мировым стандартам качества и безопасности
        .section-body
            .row
                .col-md-2.col-xs-4
                    a(href="img/certificates/certificate1.jpg" data-lightbox="certificates")
                        img(src="img/certificates/certificate1.jpg" alt="img").img-responsive.block-centered
                .col-md-2.col-xs-4
                    a(href="img/certificates/certificate1.jpg" data-lightbox="certificates")
                        img(src="img/certificates/certificate1.jpg" alt="img").img-responsive.block-centered
                .col-md-2.col-xs-4
                    a(href="img/certificates/certificate1.jpg" data-lightbox="certificates")
                        img(src="img/certificates/certificate1.jpg" alt="img").img-responsive.block-centered
                .col-md-2.col-xs-4
                    a(href="img/certificates/certificate1.jpg" data-lightbox="certificates")
                        img(src="img/certificates/certificate1.jpg" alt="img").img-responsive.block-centered
                .col-md-2.col-xs-4
                    a(href="img/certificates/certificate1.jpg" data-lightbox="certificates")
                        img(src="img/certificates/certificate1.jpg" alt="img").img-responsive.block-centered
                .col-md-2.col-xs-4
                    a(href="img/certificates/certificate1.jpg" data-lightbox="certificates")
                        img(src="img/certificates/certificate1.jpg" alt="img").img-responsive.block-centered
