.contact-sub-title {
    font-size: 1.2em;
    text-align: center;
    font-family: Arial, sans-serif;
    font-weight: bold;
    .fa {
        color: $color-gold;
        margin-right: 10px;
        font-size: 1.2em;
    }
    &-block {
        white-space: nowrap;
        margin-bottom: 1em;
    }
}
.map-wrapper {
    border: 3px solid $border-light-blue;
}
.contact-form {
    border: 1px solid $border-light-blue;
    padding: 1.5em 2em;
    background: $color-blue;
    label:not(.laber-error) {
        color: white;
        font-weight: 500;
    }
    input, textarea {
        background: #b8d5fa;
    }
}
.input-wrapper {
    margin-bottom: 1em;
}
.page-title {
    margin-bottom: 1em;
}

