//disable hoster manifest
.cbalink {
    display: none;
}

//font-family: 'Roboto Mono', monospace;
//font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700&subset=cyrillic');
//noinspection ALL

//FONT AWESOME
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

//IE

html[data-useragent*='MSIE 10.0'],
html[data-useragent*='rv:11.0'] {
    //your cod here
}

//defend map
.scrolloff {
    pointer-events: none;
}

$color-gold: #ffcc33;
$color-blue: #164a8e;
$border-blue: #277ceb;
$border-light-blue: #5498c0;

body {
    position: relative;
    @media all and (max-width: $screen-tablet) {
        font-size: 12px;
    }
    @media all and (max-width: $screen-phone) {
        //font-size: 10px;
        h1 {
            font-size: floor(($font-size-base * 1.6));
        }
        h2 {
            font-size: floor(($font-size-base * 1.6));
        }
        h3 {
            font-size: ceil(($font-size-base * 1.1));
        }
        h4 {
            font-size: $font-size-base;
        }
        h5 {
            font-size: ceil(($font-size-base * .9));
        }
    }
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    border-color: #78abed !important;
    &:focus,
    &:active {
        border-color: #5fc353;
    }
}
textarea {
    resize: none;
}
.relative {
    position: relative;
}

.semi-bold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.color-white {
    color: #ffffff;
}

.color-primary {
    color: $brand-primary;
}

.light {
    font-weight: 300;
}

.btn-lg {
    font-size: 1em;
    height: 3.5em;
}

.width {
    &__100 {
        width: 100%;
    }
}

.link-text {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

a, button, input, textarea {
    &:focus,
    &:active {
        outline: none !important;
    }
}

.no-padding {
    padding: 0;
}

.block-centered {
    display: block;
    margin: 0 auto;
}

.spacer {
    font-size: 1px;
    &.quad {
        padding-top: 100%;
    }
}

.animated {
    opacity: 0;
    &.visible {
        opacity: 1;
    }
}
.line-space {
    padding-top: 3em;
}

//FA ICONS
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-icon {
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.use-icon:before {
    left: 0;
    position: absolute;
    color: $brand-primary;
    font: normal normal normal 1.2em/1 'FontAwesome';
}

.fa-chevron-down:before {
    content: "\f107";
}

.fa-chevron-up:before {
    content: "\f077";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-street-view:before {
    content: "\f21d";
}

.fa-bicycle:before {
    content: "\f206";
}

.fa-building-o:before {
    content: "\f0f7";
}

.fa-binoculars:before {
    content: "\f1e5";
}

.fa-file-text-o:before {
    content: "\f0f6";
}

.fa-phone:before {
    content: "\f095";
}

.fa-check-circle-o:before {
    content: "\f05D";
}
.fa-search-plus:before {
    content: "\f00e";
}
.fa-map-marker:before {
    content: "\f041";
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-envelope-o:before {
    content: "\f003";
}

label.error {
    color: $brand-danger !important;
    font-weight: 300;
    font-size: 80%;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    &::before {
        content: '*';
        position: absolute;
        left: -5px;
        top: 0;
    }
}

//Elements
.section {
    &-header {
        text-align: center;
        max-width: 790px;
        margin: 0 auto;
        text-transform: uppercase;
        h2 {
            font-weight: 500;
        }
    }
    &-subheader {

    }
    &-body {
        padding: 2em 0;
    }
}

.main {
    padding: 2em 0 4em;
}
section {
    padding: 3em 0;
}

//iHover
.ih-service {
    margin-top: 15px;
    margin-bottom: 15px;
}
.ih-item-title {
    position: absolute;
    border: 0;
    width: 100%;
    color: white;
    bottom: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    background: transparentize($color-blue, .7);
    margin: 0;
    padding: 15px 0;
    transition: all 0.35s ease-in-out;

}
.in-item-fa {
    padding: 25% 0 0 !important;
    z-index: 1;
    .fa {
        color: white;
        font-size: 2em;
    }
}

.ih-item:hover {
    .ih-item-title{
        bottom: 70%;
        z-index: 1;
        background: transparent;
    }
}

.aside-block {
    padding: 2em 0;
    &:nth-last-of-type(1) {
        padding-bottom: 0;
    }
}
.aside-menu {
    margin: 0;
    &-link {
        padding: 10px 5px 8px 25px;
        color: inherit;
        background: transparentize(#e6ecef, .5);
        border-bottom: 1px solid #8b8989;
        display: block;
        cursor: pointer;
        &:hover {
            text-decoration: none;
            background: $color-blue;
            color: $color-gold;
        }
    }
    li:nth-last-child(1) {
        .aside-menu-link {
            border: none;
        }
    }
}
