/* Customize the nav-justified links to be fill the entire space of the .navbar */
.navbar-default {
    border: none;
    border-top: 1px solid $border-blue;
}
.nav-justified > li > a {
    padding-top: 19px;
    padding-bottom: 19px;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    color: white;
    &:hover {
        color: $color-gold;
    }
}

.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
    color: $color-gold;
    background: transparent;
}

@media (min-width: $grid-float-breakpoint) {
    .nav-justified {
        max-height: 60px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $grid-float-breakpoint) {
    /* Remove the padding we set earlier */
    .masthead {
        padding-right: 0;
        padding-left: 0;
    }
}

.header {
    font-family: Arial, sans-serif;
    position: relative;
    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../img/header-bg.jpg") top center;
        background-attachment: fixed;
        background-size: cover;
    }
    &-container {
        position: relative;
        background: $navbar-default-bg;
        &-top {
            padding: 4em 0 3em;
        }
    }
    &-logo {
        margin-bottom: 1em;
        display: block;
        img {
            margin: 0 auto;
        }
    }
    &-social {
        li {
            padding: 0 9px;
        }
        &-link {
            width: 27px;
        }
    }
    &-contacts {
        color: white;
        font-size: 1.7em;
        li:nth-child(1) {
            line-height: 0;
            padding-bottom: 5px;
        }
        .fa {
            margin-right: 10px;
            opacity: .5;
        }
        margin-bottom: 1em;
    }
    &-btn {
        font-weight: bold;
        .fa {
            font-size: 1.5em;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}
