.seo-text {
    background-size: cover;
    background: url("../img/seo-bg.jpg") no-repeat fixed center;
}

.section-services {
    padding-bottom: 0;
}

.section-form {
    position: relative;
    padding: 5em 0;
    &-wrapper {
        position: relative;
    }
    &-title {
        margin-bottom: 1em;
    }
    &-action {
        position: relative;
        background: #f2b444;
        padding: 1em 3em 2em;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .35);
    }
    &-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("../img/form-bg.png");
        background-repeat: no-repeat;
        &.right {
            transform: rotate(180deg);
            background-position: left top;
        }
        &.left {
            background-position: left top;
        }
    }
    &-body {
        .form-control,
        .btn {
            margin-bottom: 1em;
        }
    }
}

.gallery {
    &-unit {
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 4px 1px rgba(0, 0, 0, .35);
        margin-bottom: 1em;
        &:hover {
            .gallery-link {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &-img,
    &-link {
        position: absolute;
        top: 0;
        left: 0;
    }
    &-img {
        min-width: 100%;
        min-height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &-link {
        transition: opacity 0.35s ease-in-out;
        visibility: hidden;
        opacity: 0;
        width: 90%;
        height: 90%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: transparentize($color-blue, .7);
        &:hover, &:focus, &:active {
            color: inherit;
            text-decoration: none;
        }
        .fa {
            font-size: 2em;
        }
        ul {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            position: absolute;
        }
    }
}
