- var app = '.components'
include .components/mixin/action-form

doctype html
html.no-js(lang='ru-RU')
    include .components/heading
    body
        <!--[if lt IE 10]>
        style(scoped).
            .browserupgrade {
                position: fixed;
                width: 100%;
                height: 100%;
                background: white;
                z-index: 1001;
                text-align: center;
                padding-top: 15%;
            }
        <p class="browserupgrade">You are using an <strong>outdated</strong> <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
        </p>
        <![endif]-->

        .loader
        include .components/header
        .main#main
            include .components/contacts-content

        include .components/footer

        include .components/action-modals.jade


        script(src='js/vendor/jquery.maskedinput.min.js')
        script(src='js/vendor/jquery.validate.min.js')

        script(src='js/{{MAIN_JS_FILE}}')
        script(src='js/plugins.js')
        //{{CUT-START}}
        script(src='.assets/js/button.js')
        script(src='.assets/js/carousel.js')
        script(src='.assets/js/collapse.js')
        script(src='.assets/js/transition.js')
        script(src='.assets/js/modal.js')
        // {{CUT-END}}
        script.
            var map;
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 8
                });
            }

        script.
            $(window).load(function () {
                $(".loader").fadeOut("slow");
            });
